.title-block {

    width: 1200px;
    height: 664px;
    left: 0px;
    top: 0px;
    background: #84A278;
}

.button {

    border: none;
    width: 152px;
    height: 42px;
    left: 0px;
    top: 0px;

    background: #F8D24E;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: 16px;
}

.div-block {
    margin: 16px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.item-menu {
    list-style: none;
}

.item-menu-text {
    margin: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC
}

.item-menu-text:hover {
    color: #F8D24E;
}

.div-block {
    display: flex;
    flex-direction: column;
}

.title-block {
    display: flex;
    flex-direction: column;
}

.image-block {
    display: flex;
    flex-direction: row;
}

.product-description {
    display: flex;
    flex-direction: row;
}

.image-rizhok {}

.products-section {

    display: flex;
    flex-direction: column;

    width: 1396px;
    height: 1242px;

}

.name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.image1 {

    width: 302px;
    height: 302px;



    background: url(kelsey-curtis-G5ZenftPPOA-unsplash.jpg);

}

.products-block {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nameText {

    width: 256px;
    height: 37px;
    left: 36px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
}


.block-icecream {

    width: 370px;
    height: 536px;
    left: 0px;
    top: 183px;

    background: #AEC6A5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

}

.block-icecoffee {

    width: 370px;
    height: 536px;
    left: 399px;
    top: 183px;

    background: #EFD478;
    border-radius: 24px;
}

.block-milkshakes {

    width: 370px;
    height: 536px;
    left: 798px;
    top: 183px;

    background: #D6936D;
    border-radius: 24px;
}

.name-product {

    width: 186px;
    height: 37px;
    left: 92px;
    top: 348px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;

}

.icecream-text {

    width: 246px;
    height: 142px;
    left: 61px;
    top: 451px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #131313;
}

.button-icecream {

    box-sizing: border-box;

    width: 40px;
    height: 1px;
    left: 0px;
    top: 8px;

    /* Black */

    border: #131313;
}

.name-product2 {
    width: 197px;
    height: 37px;
    left: 485px;
    top: 348px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Black */

    color: #131313;
}

.icecoffee-text {

    width: 242px;
    height: 142px;
    left: 463px;
    top: 451px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #131313;
}

.button-icecoffee {
    width: 40px;
    height: 1px;


    /* Black */

    border: none
}

.name-product3 {

    width: 217px;
    height: 37px;
    left: 874px;
    top: 348px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
}

.milkshakes-text {

    width: 242px;
    height: 142px;
    left: 862px;
    top: 451px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #131313;
}

.button-milkshakes {

    width: 40px;
    height: 1px;

    border: none
}

.nameText2 {
    width: 329px;
    height: 45px;
    left: 0px;
    top: 49px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #131313;
}

.icecreamtext {

    width: 367px;
    height: 144px;
    left: 16px;
    top: 118px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FCFCFC;
}

.buttons-block {

    box-sizing: border-box;

    width: 134px;
    height: 42px;
    left: 0px;
    top: 0px;

    border: 2px solid #F8D24E;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 16px;

}

.button-block-items {
    width: 66px;
    height: 18px;

    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    border: none;
    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;

}

.button-block-items1 {

    width: 111px;
    height: 17px;
    left: 22px;
    top: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #F8D24E;
    margin: 15px;
    background: none;
    border: none;
}

.number {

    width: 52px;
    height: 56px;
    left: 1132px;
    top: 126px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
}

.number2 {
    width: 59px;
    height: 56px;
    left: 1125px;
    top: 219px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
}

.nomber-discription {
    width: 37px;
    height: 17px;
    left: 1147px;
    top: 186px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #FCFCFC;
}

.nomber-discription2 {
    width: 79px;
    height: 17px;
    left: 1105px;
    top: 279px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #FCFCFC;
}

.text-icecream1 {


    width: 200px;
    height: 80px;
    left: 257px;
    top: 441px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */


    color: #FCFCFC;
}